.list {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.list h2 {
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

.list ul {
  list-style-type: none;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 0 0 #222;
  padding: 0;
  max-width: 500px;
}

.list li {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  padding: 4px;
}

.list li:nth-child(even) {
  background-color: #eaecef;
}

.list li span {
  display: inline-block;
  line-height: 28px;
}
